#!KAMAILIO

# - flags
#!define FLAG_FROM_WEBRTC 1
#!define FLAG_TO_USER 2
#!define FLAG_FROM_USER 9
#!define FLAG_OUTBOUND 11
#!define FLAG_INBOUND 12

# - global defines
#!define LOG_LEVEL 2
#!define TCP_HEALTHCHECK tcp:127.0.0.1:8081
#!define EXTERNAL_HTTP_SOCKET tls:0.0.0.0:8080
#!define EXTERNAL_UDP_LISTEN_SOCKET udp:0.0.0.0:5060 advertise 142.93.121.121:5060
#!define EXTERNAL_TCP_LISTEN_SOCKET tcp:0.0.0.0:5060 advertise 142.93.121.121:5060
#!define EXTERNAL_TLS_LISTEN_SOCKET tls:0.0.0.0:5061 advertise 142.93.121.121:5061
#!define EXTERNAL_UDP_SOCKET udp:0.0.0.0:5060
#!define EXTERNAL_TCP_SOCKET tcp:0.0.0.0:5060
#!define EXTERNAL_TLS_SOCKET tls:0.0.0.0:5061
#!define INTERNAL_UDP_SOCKET udp:127.0.0.1:4060
#!define METRICS_SOCKET tcp:127.0.0.1:8082
#!define WORKERS 2
#!define TCP_WORKERS 2
#!define TCP_CONNECTION_LIMIT 1280
#!define DBURL "sqlite:///etc/kamailio/kamailio.db"
#!define SIPTRACE_CAPTURE_ID 2001
#!substdef "!SIPTRACE_URI!sip:127.0.0.1:9060!g"

#!substdef "!SERVER_HEADER!Server: sipproxy!g"
#!substdef "!USER_AGENT_HEADER!User-Agent: proxy!g"

# - default dispatcher sets
#!substdef "!DS_PING_FROM!sip:sip@sip2.mycountrymobile.com!g"
#!substdef "!DEFAULT_SIPCORE_SETID!1!g"

# - websocket settings
#!substdef "!HEALTH_CHECK_PORT!8081!g"
#!substdef "!WS_PORT!8080!g"

# - xhttp settings
#!substdef "!HTTP_PROM_PORT!8082!g"

# - custom substitution defines
#!substdef "!EXTERNAL_WSS_PORT!8080!g"
#!substdef "!INTERNAL_SIP_PORT!4060!g"
#!substdef "!SIPXFROMUSER!X-From-User!g"
#!substdef "!SIPXFROMWEBRTC!X-From-WebRTC!g"
#!substdef "!SIPXOUTBOUND!X-Outbound!g"
#!substdef "!SIP_USER_UNREGISTER_CODE!410!g"
#!substdef "!SIP_USER_UNREGISTER_PHRASE!User Gone!g"

include_file "include/logging.cfg"
include_file "include/ratelimit.cfg"
include_file "include/config.cfg"
include_file "include/modules.cfg"
include_file "include/routing.cfg"
