### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
# debug=2
# log_stderror=no

debug=2               # Log level (0–4)
log_stderror=no 
log_facility=LOG_LOCAL0

# Log prefix (very useful)
log_prefix="{$mt $hdr(CSeq) $ci} "